In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('./marketing_campaign.csv')
df

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True
3,a1003,1/1/18,House Ads,personalization,English,True
4,a1004,1/1/18,House Ads,personalization,English,True
...,...,...,...,...,...,...
10032,a11032,1/17/18,Email,control,German,True
10033,a11033,1/17/18,Email,control,German,True
10034,a11034,1/5/18,Instagram,control,German,False
10035,a11035,1/17/18,Email,control,German,True
10036,a11036,1/6/18,Facebook,control,German,False

In [23]:
df.variant.value_counts()

control            5091
personalization    4946
Name: variant, dtype: int64

In [24]:
df['converted'] = df['converted']*1
df['converted']

0        1
1        1
2        1
3        1
4        1
        ..
10032    1
10033    1
10034    0
10035    1
10036    0
Name: converted, Length: 10037, dtype: object

In [25]:
df.converted.value_counts()

0    8946
1    1076
Name: converted, dtype: int64

Гипотезы

нулевая гипотеза: H0:p1=p2
альтернативная гипотеза: H1:p1≠p2

In [39]:
z_crit_value = 1.96 # соответствует доверительному интервалу в 95%
k1 = df[df['variant']=='personalization']['converted'].sum()
n1 = df[df['variant']=='personalization'].shape[0]
k2 = df[df['variant']=='control']['converted'].sum()
n2 = df[df['variant']=='control'].shape[0]
k1, n1, k2, n2

(705, 4946, 371, 5091)

In [40]:
p1, p2 = k1/n1, k2/n2
p1, p2

(0.14253942579862516, 0.07287369868395208)

In [41]:
P = (p1*n1 + p2*n2) / (n1 + n2)
z = (p1 - p2) / (P * (1 - P) * (1/n1 + 1/n2))**(1/2)
z

11.278864170859038

In [42]:
if abs(z) > z_crit_value:
    print("We may reject the null hypothesis!")
else:
    print("We have failed to reject the null hypothesis")

We may reject the null hypothesis!

In [46]:
grouped = df.pivot_table(values='converted', index='variant', aggfunc=['sum', 'count'])
grouped

                      sum     count
                converted converted
variant
control               371      5076
personalization       705      4946